# Ignore PNG, TEXT files
*.png
*.txt

# Ignore job outputs folder
job_outputs/

# Ignore log files
*.log

# Ignore GTF files
*.gtf
.DS_Store
.DS_Store
longest_isoforms_data/isoform_raw_data/GCF_000001405.40_GRCh38.p14_genomic.fna.gz
